*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.button-1:hover {
    cursor: pointer;
}
